/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* recortei esse container que estava no novo func para que ela seja global*/

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
